In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../leaf_samples/leaf_samples.csv')
df

,plot,tree,latitude,longitude,date,cas,black scale,predation,parasitism,notes
0,4,39,NaN,NaN,2022-02-26,no,yes,no,no,NaN
1,13,436,NaN,NaN,2022-02-26,yes,no,no,no,NaN
2,15,685,NaN,NaN,2022-02-26,yes,no,no,no,NaN
3,16,503,NaN,NaN,2022-02-26,yes,no,no,no,NaN
4,17,439,NaN,NaN,2022-02-26,yes,no,no,no,NaN
5,14,472,NaN,NaN,2022-02-26,yes,no,no,no,NaN
6,18,464,NaN,NaN,2022-02-26,yes,no,no,no,NaN
7,12,458,NaN,NaN,2022-02-26,yes,no,no,no,NaN
8,6,373,NaN,NaN,2022-02-26,yes,no,no,no,NaN
9,8,421,NaN,NaN,2022-02-26,yes,no,no,no,sent to SEL
10,19,469,NaN,NaN,2022-02-26,yes,no,no,no,sent to SEL
11,5,382,NaN,NaN,2022-02-26,no,yes,no,no,sent to SEL

In [3]:
print(
    df.to_latex(
        index=False,na_rep='',
        caption='caption',
        label='leaf_samples_table'
    )
)

\begin{table}
\centering
\caption{caption}
\label{leaf_samples_table}
\begin{tabular}{rrrrllllll}
\toprule
 plot &  tree &  latitude &  longitude &       date & cas & black scale & predation & parasitism &       notes \\
\midrule
    4 &    39 &           &            & 2022-02-26 &  no &         yes &        no &         no &             \\
   13 &   436 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   15 &   685 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   16 &   503 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   17 &   439 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   14 &   472 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   18 &   464 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
   12 &   458 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
    6 &   373 &           &            & 2022-02-26 & yes &          no &        no &         no &             \\
    8 &   421 &           &            & 2022-02-26 & yes &          no &        no &         no & sent to SEL \\
   19 &   469 &           &            & 2022-02-26 & yes &          no &        no &         no & sent to SEL \\
    5 &   382 &           &            & 2022-02-26 &  no &         yes &        no &         no & sent to SEL \\
\bottomrule
\end{tabular}
\end{table}

<ipython-input-3-f413f8e7ba65>:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.to_latex(

In [16]:
df = pd.read_csv('../sticky_traps/rapid_scan.csv')
df = df.sort_values(by=['plot'])
df

    plot  crawler  coccinellid
16     1        1            0
10     2        0            0
12     3        0            0
15     4        0            1
19     5        1            0
23     6        0            0
20     7        0            0
6      8        1            0
7      9        1            1
5     10        0            0
2     11        0            0
22    12        0            0
0     13        0            0
17    14        1            0
14    15        1            0
9     16        1            0
13    17        1            0
18    18        0            0
8     19        0            0
1     20        0            0
21    21        0            1
11    22        1            0
3     23        0            0
4     24        0            0

In [18]:
print(
    df.to_latex(
        index=False,na_rep='',
        caption='rapid_scan',
        label='rapid_scan_table'
    )
)

\begin{table}
\centering
\caption{rapid_scan}
\label{rapid_scan_table}
\begin{tabular}{rrr}
\toprule
 plot &  crawler &  coccinellid \\
\midrule
    1 &        1 &            0 \\
    2 &        0 &            0 \\
    3 &        0 &            0 \\
    4 &        0 &            1 \\
    5 &        1 &            0 \\
    6 &        0 &            0 \\
    7 &        0 &            0 \\
    8 &        1 &            0 \\
    9 &        1 &            1 \\
   10 &        0 &            0 \\
   11 &        0 &            0 \\
   12 &        0 &            0 \\
   13 &        0 &            0 \\
   14 &        1 &            0 \\
   15 &        1 &            0 \\
   16 &        1 &            0 \\
   17 &        1 &            0 \\
   18 &        0 &            0 \\
   19 &        0 &            0 \\
   20 &        0 &            0 \\
   21 &        0 &            1 \\
   22 &        1 &            0 \\
   23 &        0 &            0 \\
   24 &        0 &            0 \\
\bottomrule
\end{tabular}
\end{table}

<ipython-input-18-abb148b13d4d>:2: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df.to_latex(